 /*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  homePage = 'https://github.com/BU-ISCIII/openebench_gmi'
  description = 'This is a project for outbreak detection challenge using OpenEBench platform'
  mainScript = 'main.nf'
}

// Global default params, used in configs

params {
  ver = '1.0' //Pipeline version
  nf_required_version = '0.27.6' //Minimum version of Nextflow required

  tree_test="$baseDir/datasets/testResultDataset/test.tre"
  goldstandard_dir="$baseDir/datasets/goldenDataset/"
  public_ref_dir="$baseDir/datasets/inputIDs/"
  assess_dir="$baseDir/datasets/benchmark_data/"
  event_id = "gmi"
  participant_id = "isciii"
  outdir='results'

}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }

  docker {
    includeConfig 'conf/docker.config'
  }

  singularity {
        includeConfig 'conf/singularity.config'
  }

  hpc_isciii {
        // TODO. with modules.
  }

  testing {
        // TODO
  }

  aws {
        // TO DO
  }

  none {
    // Don't load any config (for use with custom home configs)
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// By default output execution reports
timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/DAG.svg"
}
