
/*
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}


//process {
//  // Path to container
//  container = './wgs_bacterial.simg'
//  executor = 'local'
//
//  cpus = 1
//  //maxForks = 1
//  memory = '8 GB'
//  //time = 2.h
//
//}

env {
     _JAVA_OPTIONS = '-Xmx2G'
     LC_ALL="en_GB.utf-8"
     LANG="en_GB.utf-8"
}
